---
import BaseHead from '../components/BaseHead.astro';
import Navigation from '../components/Navigation.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import './index.scss';

const medleys = [
	{ video: "https://www.nicovideo.jp/watch/sm45424969", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/45424969/45424969.95998928.M" },
  { video: "https://www.nicovideo.jp/watch/sm44732043", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/44732043/44732043.98300596.M" },
]

const signatureWorks = [
  { video: "https://www.nicovideo.jp/watch/sm46230941", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/46230941/46230941.16419100.M" },
	{ video: "https://www.nicovideo.jp/watch/sm45586409", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/45586409/45586409.5776059.M" },
	{ video: "https://www.nicovideo.jp/watch/sm44770684", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/44770684/44770684.4457937.M" },
	{ video: "https://www.nicovideo.jp/watch/sm44493335", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/44493335/44493335.63662746.M" },
	{ video: "https://www.nicovideo.jp/watch/sm43103357", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/43103357/43103357.90673052.M" },
]

const compilations = [
  { video: "https://www.nicovideo.jp/watch/sm45822361", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/45822361/45822361.18189924.M" },
	{ video: "https://www.nicovideo.jp/watch/sm45689361", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/45689361/45689361.25630664.M" },
	{ video: "https://www.nicovideo.jp/watch/sm45423864", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/45423864/45423864.83087834.M" },
	{ video: "https://www.nicovideo.jp/watch/sm45323758", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/45323758/45323758.16286027.M" },
	{ video: "https://www.nicovideo.jp/watch/sm44733819", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/44733819/44733819.40783285.M" },
	{ video: "https://www.nicovideo.jp/watch/sm44728262", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/44728262/44728262.74791739.M" },
	{ video: "https://www.nicovideo.jp/watch/sm44605520", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/44605520/44605520.81965626.M" },
	{ video: "https://www.nicovideo.jp/watch/sm44387026", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/44387026/44387026.86725021.M" },
	{ video: "https://www.nicovideo.jp/watch/sm44332868", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/44332868/44332868.64431982.M" },
	{ video: "https://www.nicovideo.jp/watch/sm44265464", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/44265464/44265464.64851662.M" },
	{ video: "https://www.nicovideo.jp/watch/sm44211490", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/44211490/44211490.99165222.M" },
	{ video: "https://www.nicovideo.jp/watch/sm44137224", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/44137224/44137224.42330760.M" },
	{ video: "https://www.nicovideo.jp/watch/sm43984610", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/43984610/43984610.73469416.M" },
	{ video: "https://www.nicovideo.jp/watch/sm43806242", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/43806242/43806242.64876665.M" },
	{ video: "https://www.nicovideo.jp/watch/sm43805070", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/43805070/43805070.11662735.M" },
	{ video: "https://www.nicovideo.jp/watch/sm43715207", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/43715207/43715207.84576117.M" },
	{ video: "https://www.nicovideo.jp/watch/sm43698303", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/43698303/43698303.36113001.M" },
	{ video: "https://www.nicovideo.jp/watch/sm43525998", thumbnail: "https://nicovideo.cdn.nimg.jp/thumbnails/43525998/43525998.6292734.M" },
]
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script>
			import { initIndexBelt } from "../scripts/index-belt";
			initIndexBelt();
		</script>
	</head>
	<body>
		<Navigation />
		<main>
			<div class="belt">
				<div class="belt-track">
					<div class="belt-unit">
						<div class="medleys">
							<h5 class="medleys-label">
								Medleys
							</h5>
							<div class="medleys-content">
								{
									medleys.map((x) => (
										<a href={x.video} target="_blank"><img src={x.thumbnail}/></a>
									))
								}
							</div>
						</div>
						<div class="signature-works">
							<h4 class="signature-works-label">
								Signature Works
							</h4>
							<div class="signature-works-content">
								{
									signatureWorks.map((x) => (
										<a href={x.video} target="_blank"><img src={x.thumbnail}/></a>
									))
								}
							</div>
						</div>
						<div class="nutrition-facts">
							<div class="nutrition-facts-content">
								<h2>Nutrition Facts</h2>
								<div class="divider-bold"/>
								<h3>What I use</h3>
								<div class="divider-regu"/>
								<div class="area">
									<div class="tags-label">
										<div class="tags">
											<img class="tag" src=`${import.meta.env.BASE_URL}/images/FL%20Studio.png` alt="FL Studio"/>
											<img class="tag" src=`${import.meta.env.BASE_URL}/images/After Effects.png` alt="Adobe After Effects"/>
											<img class="tag" src=`${import.meta.env.BASE_URL}/images/Blender.png` alt="Blender"/>
											<img class="tag" src=`${import.meta.env.BASE_URL}/images/TouchDesigner.png` alt="TouchDesigner"/>
										</div>
										<div class="label">
											Music / Video
										</div>
									</div>
									<div class="divider-thin"/>
									<div class="tags-label">
										<div class="tags">
											<img class="tag" src=`${import.meta.env.BASE_URL}/images/Illustrator.png` alt="Adobe Illustrator"/>
											<img class="tag" src=`${import.meta.env.BASE_URL}/images/Affinity Photo.png` alt="Affinity Photo"/>
											<img class="tag" src=`${import.meta.env.BASE_URL}/images/CLIP STUDIO.png` alt="CLIP STUDIO"/>
											<img class="tag" src=`${import.meta.env.BASE_URL}/images/Aseprite.png` alt="Aseprite"/>
										</div>
										<div class="label">
											Art
										</div>
									</div>
									<div class="divider-thin"/>
									<div class="tags-label">
										<div class="tags">
											<img class="tag" src=`${import.meta.env.BASE_URL}/images/TypeScript.png` alt="TypeScript"/>
											<img class="tag" src=`${import.meta.env.BASE_URL}/images/Vue.js.png` alt="Vue.js"/>
											<img class="tag" src=`${import.meta.env.BASE_URL}/images/CSharp.png` alt="C#"/>
											<img class="tag" src=`${import.meta.env.BASE_URL}/images/Python.png` alt="Python"/>
										</div>
										<div class="label">
											Programming
										</div>
									</div>
								</div>
								<div class="divider-bold"/>
								<p>What I do — I'm a Japanese Average FL Studio / After Effects Enjoyer with an interest in music production. (bruh I haven't released any songs under this name yet, it just feels kinda inappropriate given my position) My remixes frequently feature Hyperflip and Metal. I’m also interested in typography and logo design.</p>
								<p>What I like — I enjoy Colour Bass, Hypertrance, and Piano Hip-hop, and I listen to producers like Ace Aura, Ipsiom, and DJ Okawari.</p>
							</div>
							<div class="nutrition-facts-under">
								<h6>PLEASE CONTACT US VIA DISCORD</h6>
							</div>
						</div>
						<div class="compilations">
							<h5 class="compilations-label">
								Compilations
							</h5>
							<div class="divider-thin"/>
							<div class="compilations-content">
								{
									compilations.map((x) => (
										<a href={x.video} target="_blank"><img src={x.thumbnail}/></a>
									))
								}
							</div>
						</div>
						<div class="links">
							<div class="name">
								<span class="first">不学</span>
								<span class="aka">iPhone歴史</span>
							</div>
							<div><a href="https://www.nicovideo.jp/user/88802441" target="_blank">Nicovideo</a></div>
							<div><a href="https://twitter.com/Fugaku36000" target="_blank">Twitter</a></div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
